# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
my_num = 23

print(my_num)

type(my_num)

print(25)

23
25

##### Assinging float

In [4]:
my_float = 10.5

print(my_float)

print(type(my_float))

10.5

float

#### Performing Calculations on ints and floats

##### Addition

In [36]:
5 + 5
print(my_num)
my_num + 10
print(my_num)
my_num + .5

.5 + .5

my_float+ my_num

23
23

33.5

In [12]:
10 -5

10.5 - .5

15 - .5

my_num - 3


my_float -10

20

10 * 2

In [37]:
10 * 2

my_num * 10

my_float * 5

.5 * 10

5.0

In [ ]:
# long hand
new_float = 10.5

new_float = 10 * new_ float
print (new_float)

##### Division

In [23]:
# returns a float

25 / 5

10.5 / 2

my_float / 2

5.25

##### Floor Division

In [26]:
my_float // 2

11 // 2

11.0 // 2

11 // 2

5

##### Modulo

In [31]:
11 % 2

24 % 5

10 % 2

11 % 2

1

##### Exponential

In [34]:
10 ** 2

10 ** 10

my_num**3

12167

### String Input-Output

##### String Assignment

In [35]:
my_string = 'hello world'

type(my_string)

print(my_string)

hello world

##### print() <br>
<p>Don't forget about end=' '</p>

In [40]:
print(my_string, end=' ')
# defualt \n newline
print("padawans rock", end = '\n')

print('Instructor ', end = 'Brandt')

SyntaxError: unterminated string literal (detected at line 5) (3012678938.py, line 5)

##### String Concatenation

In [43]:
class_string = 'Padawans 136'

concat_string = "Future Devs"  + class_string

print(concat_string)

instructor_one = 'brandt'
instructor_two = 'dylan'

instructors = instructor_one + ' ' + instructor_two

print(instructors)

Future DevsPadawans 136
brandt dylan

##### Type Conversion

In [46]:
type(my_num)

str(my_num)

my_num = str(my_num)
type(my_num)



str(55)

type(int('55'))

str_num = '23'
print(type(str_num))

int(str_num)

print(type(str_num))

num = int(str_num)


print(type(str_num))

<class 'str'>
<class 'str'>
<class 'str'>

##### input()

In [57]:
my_age = input('What is your age: ')
print(my_age, type(my_age))

my_age = int(my_age) + 1

What is your age: 33
33 <class 'str'>

##### format()

In [55]:
instructor_two = 'dylan'
'{} You are {} year\'s old' .format(instructor_two, 33)

f'{instructor_two} you are {33} year\'s old'

"dylan you are 33 year's old"

##### Old Way (python 2)

In [60]:
"My name is %s" %instructor_two

"my age is %d and name is %s"  (%int(my_age), instructor_two)

SyntaxError: invalid syntax (2892081222.py, line 3)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [63]:
color= input

KeyboardInterrupt: Interrupted by user

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 10 > 11:
    print('10 greater than 11')
    
if 11 > 10: 
    print('11 > 10')
    
if True:
    print('true')
    print('action two')
    print('still in if')
    
if 0:
    print('zero')
    
if 1: 
    print(1, 'true')
    
if 10 > 11 and 9 == 9:
    print('both true 10 < 11 and 9 ==9')
    
if 10 > 11 or 9 != 9:
    print('either true using or 2')

##### 'is' keyword

In [ ]:
if 9 is 9:
#   print('is true')   

my_dict = {'foo': 'bar'}
my_dict=





if my_dict is actual_copy:
    print('actuuL copies')
    print(actual_copy)

##### 'in' keyword

In [66]:
instructors

print('b' in instructors)

print('brandt' in instructors)

print('brandt' in instructors)

print('d' in instructors)
      
if 'brandt' in instructors:
      print('this will be the wrong class')

True
True
True
True
this will be the wrong class

##### 'not in' keyword'

In [ ]:
if "d" not in 'dylan':
    print('case sensitive')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [67]:
name = input('name: ')
print('p' in name)

name: dave
False

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [69]:
if 'ryan' in instructors:
    print('ranger')
elif 'brain' in instructors:
    print('kekambas')
elif 'dylan' in instructors:
    print ('padawans')
elif 'brandt' in instructors:
    print('also padawans')
else:
    print('maybe not in ct')

padawans

### Else Statements

In [ ]:
# see above

### For Loops

In [73]:
print(instructors)

for e in instructors:
    print(e)
    print('hello world')

brandt dylan
b
hello world
r
hello world
a
hello world
n
hello world
d
hello world
t
hello world

hello world
d
hello world
y
hello world
l
hello world
a
hello world
n
hello world

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for e in instructors:
    if e == 't':
        continue
    print (e)

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [75]:
step= 1
for letter in 'dylan':
    for letter_two in 'dylan':
        print(f'{letter =} {letter_two = }')
        print(step)
        step += 1

letter ='d' letter_two = 'd'
1
letter ='d' letter_two = 'y'
2
letter ='d' letter_two = 'l'
3
letter ='d' letter_two = 'a'
4
letter ='d' letter_two = 'n'
5
letter ='y' letter_two = 'd'
6
letter ='y' letter_two = 'y'
7
letter ='y' letter_two = 'l'
8
letter ='y' letter_two = 'a'
9
letter ='y' letter_two = 'n'
10
letter ='l' letter_two = 'd'
11
letter ='l' letter_two = 'y'
12
letter ='l' letter_two = 'l'
13
letter ='l' letter_two = 'a'
14
letter ='l' letter_two = 'n'
15
letter ='a' letter_two = 'd'
16
letter ='a' letter_two = 'y'
17
letter ='a' letter_two = 'l'
18
letter ='a' letter_two = 'a'
19
letter ='a' letter_two = 'n'
20
letter ='n' letter_two = 'd'
21
letter ='n' letter_two = 'y'
22
letter ='n' letter_two = 'l'
23
letter ='n' letter_two = 'a'
24
letter ='n' letter_two = 'n'
25

### While Loops

In [ ]:
num = 0
while num <10:
    print(num)
    num +=1
print(num, "loop is done")

##### Looping 'While True'

In [77]:
num = 0
while True:
    print(True, 'be careful')
    num +=1
    if num ==15:
        break

True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful

In [81]:
flag = True
num = 0
while flag: 
    num += 1
    if num == 15:
        flag = False

##### While & For Loops Used Together

In [79]:
num = 0
while num <10:
    for letter in 'brandt':
        print(f'{num = } {letter = }')
        num +=1

### Built-In Functions

##### range()

In [83]:
# range(start, stop, step)

#for num in range(0, 10, 1):
#    print(num)
    
    
for even in range (2, 10, 2):
    print(even)

2
4
6
8

##### len()

In [87]:
len('dylan')

list(range (5))
ins = dylan
 
for i in range(len(ins)):
    print(i, end = '')
    print(ins[i])

NameError: name 'dylan' is not defined

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

In [ ]:
alist = []
type(alist)

num_list = [1,2,3,4,29]

##### Indexing a List

In [ ]:
num_list

##### .append()

In [88]:
num_list.append(100)

print(num_list)

NameError: name 'num_list' is not defined

##### .insert()

##### .pop()

In [ ]:
num_list.pop()

print(num_list)

num_list.pop(1)
print(num_list)


##### .remove()

In [ ]:
print(num_list)
num_list.remove(29)
print(num_list)

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

In [ ]:
[1,12,3,[1,2,3]]

##### Looping Through Lists

In [ ]:
for num in go

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>